*{
margin-inline-end: 0;
margin-inline-start: 0;
padding: 0;
margin: 0;
}

::-webkit-scrollbar{
display: none;
}


body{
font-family: sans-serif;

}



.navbar{

display: flex;
width: 100%;
justify-content: end;
gap: 50px;

img{
display: block;
right: auto;
position: relative;
width: 167px;
margin-top: 40px;
margin-left: 123px;
height: 94;
margin-right: auto;
}
h2{

margin-top: 65px;
font-weight: lighter;
font-size: 20px;

}

a{
color: rgb(0, 0, 0);
text-decoration: none;
}

h3{
margin-right: 155px;
margin-top: 65px;
font-weight: lighter;
font-size: 20px;
}

h1{
margin-top: 65px;
font-weight: lighter;
font-size: 20px;

}

:nth-child(1):hover{

color: rgb(231, 231, 231);

}

}

.sidepanel  {
  width: 0;
  position: fixed;
  z-index: 1;
  height: 100%;
  top: 0;
  left: 1;
  background-color: rgb(48, 48, 48);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}
  

.sidepanel a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #ffffff;
  display: block;
  transition: 0.3s;
 
}

.sidepanel a:hover {
  color: #cecece;
}

.sidepanel .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
}

.openbtn {
    display: none;
    margin-top: 40px;
    margin-right: 30px;
  font-size: 20px;
  cursor: pointer;
  color: rgb(0, 0, 0);
background: none;
border: none;
font-size: 30px;

}


.aud{
padding-top: 125px;
padding-left:120px ;
h1{
font-size: 32px;
margin-bottom: 10px;
}
h2{
font-size: 20px;
font-weight: 400;
margin-bottom: 10px;
}
h3{
font-size: 14px;
font-weight: 400;
width: 780px;
max-width: 100%;
}

}
.basecheck{
border: solid black 1px;
border-radius: 25px;
padding: 20px 30px;
width: 400px;
margin-top:30px ;
input{
height: 25px;
width: 25px;
border: 2px solid black;

}

h1{
font-size: 20px;
font-weight: 400;
margin-top: 10px;

}
h3{
font-size: 16px;
font-weight: 400;
margin-top: 10px;

}
}

.huge{

background: url(https://images.dealer.com/ddc/vehicles/2023/Audi/RS%20e-tron%20GT/Sedan/trim_Base_e09a22/color/Ibis%20White-T9T9-240%2C240%2C238-640-en_US.jpg);
background-size: 700px;
background-repeat: no-repeat;
background-position:right;
background-position-y:bottom;
}
.base{
padding-left: 120px;
margin-top: 44px;


h5{
font-size: 20px;
font-weight: 400;
margin-bottom: 10px;
}
h2{
font-size: 16px;
font-weight: 400;
}



}
@media screen and (max-width:1000px) {

.navbar{
h1{display: none;}
h3{display: none;}
h2{display: none;}
gap: 0;

img{
margin-left: 23px;
}
}
.openbtn{display: block;}
.aud{padding-left: 20px;}
.base{
  padding-left: 20px;
}}

@media screen and (max-width:500px) {
.basecheck{
width: 200px;
}


}

@media screen and (max-width:1450px) {
.huge{
background-size: 500px;
}
}

@media screen and (max-width:1250px) {
.huge{
background-size: 400px;
}
}

@media screen and (max-width:1198px) {
.huge{
background: none;
}
}
.m{

margin-left: 120px;
margin-top: 190px;
font-size: 20px;

}
.k{

font-size: 20px;


}

.mySlides {
img{

width: 740px;
height: 480px;
max-width: 100%;
}


}

.mySlide {
margin-top: 240px;
img{
width: 1000px;
object-fit: cover;
height: 480px;
max-width: 100%;
}


}

@media screen and (max-width:450px) {
.mySlides {
img{
height: 300px;
}
}}

@media screen and (max-width:750px) {
.mySlide {
img{
height: 200px;
}
}}

figure {
 text-align:center;
} 





.w3-col {
 display: flex;
 gap: 20px;
 flex-wrap: wrap;
 
}



.w3-content {
margin-left: 120px;
}

@media screen and (max-width:1000px) {
.w3-content{
margin-left: 20px;
}
.m{
margin-left: 20px;
}
}

.w3-container {
  
  padding: 0.01em 16px;
}

.w3-container:after,.w3-panel:after,.w3-row:after,.w3-row-padding:after,.w3-topnav:after,.w3-clear:after,.w3-btn-group:before,.w3-btn-group:after,.w3-btn-bar:before,.w3-btn-bar:after {
  content: "";
  display: table;
  clear: both;
}

.w3-row-padding {
  padding: 0 8px;
}

.w3-row-padding > .w3-col {
  padding: 0 8px;
}

.w3-section {
  margin-top: 16px !important;
  margin-bottom: 16px !important;
}

[class*="w3-border-"] {
 border-style: solid;
 border-width: 1px; 
}

.w3-border-red,
.w3-hover-border-red:hover {
  border-color: #f44336 !important;
}

.w3-hover-shadow {
transition: background-color .3s,color .15s,box-shadow .3s,opacity 0.3s;
}

.w3-hover-shadow:hover {
 box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19)!important;
}

header > h2,
header > p {
 text-align: center;
}

p {
 padding: .5em 0;
}



.yesyes{

display: flex;
background-color: black;
color: white;
padding: 50px 50px;
margin-top: 100px;
h1{
font-size: 20px;
font-weight: 400;
margin-bottom: 15px;
}

button{
color: black;
font-size: 20px;
padding: 25px 45px;
border-radius: 25px;
margin-left: auto;
background-color: white;
}

h2{
font-size: 16px;
font-weight: 400;
}

}

@media screen and (max-width:650px) {
.yesyes{
h1{
font-size: 15px;
}
h2{
font-size: 12px;
}
button{
color: black;
font-size: 16px;
padding: 10px 20px;
border-radius: 25px;
margin-left: auto;
background-color: white;
}

}
}

.near{
margin-top:1000px ;
display: flex;
flex-wrap: wrap;
justify-content: space-around;
img{width: 160px;}
h2{
width: 360px;
font-size: 13px;
margin-bottom: 20px;
}
h1{
font-size: 13px;
margin-bottom: 10px;
}

}

.near{
margin-top: 170px;
a{
color: black;
text-decoration: none;
}
}

@media screen and (max-width:900px) {
.car{img{width: 500px;}
h1{font-size: 30px;
top: 50px;
}
button:nth-child(3){
bottom: 50px;
left: 30%;
transform: translate(-30%);
}
button:nth-child(4){
bottom: 50px;
left: 35%;
transform: translate(-35%);
}
}
.near{
margin-top: 500px;
}
}
@media screen and (max-width:550px) {
  .near{
    margin-top: 300px;
    }
  }
  @media screen and (max-width:330px) {
  .car{
    button:nth-child(4){
      font-size: 13px;
  }
  button:nth-child(3){
    font-size: 13px;
}
img{width: 275px;}
  }

  }
